<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mybatis.ReservationMapper">
	<select id="getRoom" parameterType="int" resultType="ReservationVo">
		select roomnum, roomtitle, roomprice, color from room where roomnum = #{roomNum}
	</select>
	<select id="getResList" resultType="ReservationVo">
		select res.resnum, res.roomnum, res.resdate, res.username, r.color from reservation res, room r where res.roomnum = r.roomnum order by roomnum asc
	</select>
	<select id="getList" resultType="ReservationVo">
		select res.resnum, res.roomnum, res.resdate, res.usernum, res.username, i.usertel, i.useremail, res.ressum, res.restime
		 from reservation res, info i where i.usernum = res.usernum order by res.resnum desc
	</select>
	
	<update id="resUpdate" parameterType="ReservationVo">
	update reservation set roomnum=#{roomNum}, resdate=#{resDate}, username=#{userName}, ressum=#{resSum} where resnum=#{resNum}
	</update>
	<insert id="resInsert" parameterType="ReservationVo">
	insert into reservation(resnum,roomnum,resdate,usernum,username,ressum,restime) values(res_seq.nextval,#{roomNum},#{resDate},#{userNum},#{userName},#{resSum},sysdate)
	</insert>
	<select id="getRes" parameterType="int" resultType="ReservationVo">
		select res.resnum, res.roomnum, res.resdate, res.usernum, res.username, i.usertel, i.useremail, res.ressum, res.restime
		 from reservation res, info i where i.usernum = res.usernum and resnum=#{resNum}
	</select>
	<select id="myResList" parameterType="int" resultType="ReservationVo">
		select res.resnum, res.roomnum, res.resdate, res.usernum, res.username, i.usertel, i.useremail, res.ressum, res.restime
		 from reservation res, info i where i.usernum = res.usernum and i.usernum = #{userNum} order by res.resnum desc
	</select>
	<insert id="resDelete" parameterType="int">
	delete from reservation where resnum = #{resNum}
	</insert>
</mapper>
